<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- General description of your web application -->

    <display-name>My Web Application</display-name>
    <description>
      This is version X.X of an application to perform
      a wild and wonderful task, based on servlets and
      JSP pages.
    </description>

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>podstvkv@fnal.gov</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>

    <context-param>
      <param-name>srvurl</param-name>
      <param-value>cdfdca.fnal.gov</param-value>
    </context-param>

    <servlet>
      <servlet-name>HelloServlet2</servlet-name>
      <description>
        Testing2
      </description>
      <servlet-class>moreservlets.HelloServlet2</servlet-class>
    </servlet>


    <servlet>
      <servlet-name>lsplots</servlet-name>
      <jsp-file>/plots.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
      <servlet-name>lsplots</servlet-name>
      <url-pattern>/lsplots</url-pattern>
    </servlet-mapping>


  <!--  <servlet-mapping>
      <servlet-name>pyservlet</servlet-name>
      <url-pattern>*.py</url-pattern>
    </servlet-mapping>
  -->

<!--
  The definition below is very important during debugging - Tomcat 4.1.12 doesn't recognize servlets without it.
    <servlet-mapping>
        <servlet-name>invoker</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
-->
</web-app>
