@CHARSET "UTF-8";

div.precious {
    float: left;
    background: #e9463a;
    height: 10px;
}

div.pinned {
    float: left;
    background: #a646a7;
    height: 10px;
}

div.removable {
    float: left;
    background: #68b911;
    height: 10px;
}

div.free {
    float: left;
    background: #eee716;
    height: 10px;
}
