<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="LayoutItemPanel.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <wicket:panel>
        <div
            wicket:id="createInfoBox"
            onmouseover="infotext"
            onmouseout="window.setTimeout('hideBox()',5000)"
            href="javascript:void(0)">
            <div wicket:id="layouts">
                <div
                    wicket:id="percentage"
                    class="layout_class"
                    style="width: 10.0%"></div>
            </div>
        </div>
    </wicket:panel>
</body>
</html>
