toolbar.nav-bar {
/*	background-image: url("chrome://navigator/skin/navbar-bg.gif"); */
	padding: 0px;
	padding-bottom: 2px;
}

box#navbar {
  background-color: lightblue;
}

plot {
  display: block;
  background-color: lightblue;
}

apple { 
/*  display: table; */
  display: block;
}

mtr { 
/*  display: table-row; */
  display: block;
  background-color: gray;
}

mtd { 
  border: 1px solid #222222;
/*  display: table-cell; */
  display: inline;
  background-color: lightgray;
  width: 160px;
}

A:link { 
  color: #FA8072; 
}
