<!--  This configuration is for all command-line utilities.  It is not intended to
      be user-editable.  Updates will unconditionally overwrite this file. -->
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%m%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
