@CHARSET "UTF-8";
/*
    Document   : logIn
    Created on : Feb 12, 2010, 3:53:45 PM
    Author     : jans
    Description:
        Purpose of the stylesheet follows.
*/

h1{
    text-align: center;
}

h5{
    text-align: center;
}


table {
    margin: auto;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

td, th
{
    background-color: #dce3ba;
    padding: 4px;


}

tbody th {
    border-bottom:none;
    text-align:left;
}
tbody td {
    border-bottom:none;
}