<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %-5p %c - %m%n</pattern>
    </encoder>
  </appender>

  <root level="OFF">
    <appender-ref ref="stdout"/>
  </root>

  <logger name="org.apache.client.Call" level="DEBUG"/>
  <logger name="org.apache.axis.transport.http.HTTPSender" level="DEBUG"/>
  <logger name="org.globus.axis.axis.transport" level="DEBUG"/>
  <logger name="org.apache.client.Call" level="DEBUG"/>
  <logger name="org.apache.axis.transport.http.HTTPSender" level="DEBUG"/>
  <logger name="org.globus.axis.axis.transport" level="DEBUG"/>
  <logger name="org.globus.ftp.app.Transfer" level="DEBUG"/>
  <logger name="org.globus.ftp.app.TransferParams" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.AbstractDataChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.ActiveConnectTask" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.ActiveStartTransferTask" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.AsciiTranslator" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.DataChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.DataChannelFactory" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.DataChannelReader" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.DataChannelWriter" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.EBlockAware" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.EBlockImageDCReader" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.EBlockImageDCWriter" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.EBlockParallelTransferContext" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.GridFTPActiveConnectTask" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.GridFTPPassiveConnectTask" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.LocalReply" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.PassiveConnectTask" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SecureDataChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SecureDataChannelFactory" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.SimpleDataChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.SimpleDataChannelFactory" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.SimpleTransferContext" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.SocketBox" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.StreamAsciiDCReader" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.StreamAsciiDCWriter" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.StreamImageDCReader" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.StreamImageDCWriter" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.StripeContextManager" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.Task" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.TaskThread" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.dc.TransferContext" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.Buffer" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.ByteRange" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.ByteRangeList" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.DataChannelAuthentication" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.DataSink" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.DataSinkStream" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.DataSource" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.DataSourceStream" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.FTPClient" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.FeatureList" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.FileInfo" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.FileRandomIO" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.GridFTPClient" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.GridFTPRestartMarker" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.GridFTPSession" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.HostPort" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.HostPortList" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.Marker" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.MarkerListener" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.Options" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.PerfMarker" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.RestartData" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.RestartMarker" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.RetrieveOptions" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.Session" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.StreamModeRestartMarker" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.SubjectDataChannelAuthentication" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.ClientException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.DataChannelException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.FTPException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.FTPReplyParseException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.NotImplementedException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.PerfMarkerException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.ServerException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.exception.UnexpectedReplyCodeException" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.extended.GridFTPControlChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.extended.GridFTPServerFacade" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.BasicClientControlChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.BasicServerControlChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.Command" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.FTPControlChannel" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.FTPServerFacade" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.Flag" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.Reply" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.TransferMonitor" level="DEBUG"/>
  <logger name="org.dcache.ftp.client.vanilla.TransferState" level="DEBUG"/>
</configuration>
