<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>web-dcache</display-name>
    <description>
      This is version X.X of an application to perform a wild and wonderful task, based on servlets and JSP pages.
    </description>

    <context-param>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
      <param-name>webmaster</param-name>
      <param-value>admin@localdomain</param-value>
    </context-param>

    <context-param>
      <param-name>image.home</param-name>
      <param-value>Images</param-value>
    </context-param>

    <context-param>
      <param-name>script.name</param-name>
      <param-value>plotConfig.js</param-value>
    </context-param>

    <context-param>
      <param-name>plot.conf</param-name>
      <param-value>plotConfig.xml</param-value>
    </context-param>

<!-- 
        Servlet initialization parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletConfig().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.
 -->

    <servlet>
      <servlet-name>viewer</servlet-name>
      <servlet-class>org.dcache.web.Viewer0</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>raw</servlet-name>
      <servlet-class>org.dcache.web.RawData</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>xml</servlet-name>
      <servlet-class>org.dcache.web.XmlData</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>stats</servlet-name>
      <servlet-class>org.dcache.web.Stats</servlet-class>
<!--
      <init-param>
        <param-name>listOrders</param-name>
        <param-value>com.mycompany.myactions.ListOrdersAction</param-value>
      </init-param>
      <init-param>
        <param-name>saveCustomer</param-name>
        <param-value>com.mycompany.myactions.SaveCustomerAction</param-value>
      </init-param>
-->      
      <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
      <servlet-name>PlotUpdate</servlet-name>
      <servlet-class>org.dcache.web.PlotUpdate</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>viewer</servlet-name>
      <url-pattern>/viewer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>raw</servlet-name>
      <url-pattern>/raw</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>xml</servlet-name>
      <url-pattern>/xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>stats</servlet-name>
      <url-pattern>/stats</url-pattern>
    </servlet-mapping>

    <resource-ref>
      <description>postgreSQL Datasource</description>
      <res-ref-name>jdbc/postgres</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
