<?xml version="1.0" encoding="UTF-8"?>
<srm-configuration>

	<!-- true or false-->
	<debug> true </debug>

	<!-- path to the urlcopy script -->
	<urlcopy> ../scripts/urlcopy.sh </urlcopy>

	<!-- "globus-url-copy" or "kftp"-->
	<gsiftpclient> globus-url-copy </gsiftpclient>

	<!--true if use http over gsi over ssl for SOAP invocations 
	or false to use plain http (no authentication or encryption)-->
	<gsissl> true </gsissl>

	<!-- path to the "glue" mapfile-->
	<mapfile> lib/SRMServerV1.map </mapfile>

	<!-- path to the  in the srm webservices server,
	srm/managerv1.wsdl" in case of srm in dcache-->
	<webservice_path> srm/managerv1.wsdl </webservice_path>

	<!-- this could be http or https-->
	<webservice_protocol> https </webservice_protocol>

	<!--nonnegative integer, 2048 by default-->
	<buffer_size> 2048 </buffer_size>

	<!--integer, 0 by default (which means do not set tcp_buffer_size at all)-->
	<tcp_buffer_size> 0 </tcp_buffer_size>

	<!--port on which to publish the srm service-->
	<port> 8443 </port>

	<!--kpwdfile, a dcache authorization database -->
	<kpwdfile> .srmconfig/dcache.kpwd </kpwdfile>

	<!--root of the srm within the file system, nothing outside the root is accessible to the users-->
	<srm_root> / </srm_root>

	<!--directory where deligated credentials will be temporarily stored, if external client is to be utilized-->
	<proxies_directory> ../proxies </proxies_directory>

	<!--timeout in seconds, how long to wait for the completeon of the transfer via external client, should the external client be used for the MSS to MSS transfers-->
	<timeout> 3600 </timeout>

	<!--location of the timeout script-->
	<timeout_script> ../scripts/timeout.sh </timeout_script>

	<!--hostname of the server, will be detected automatically if it is null-->
	<srmhost> null </srmhost>

	<!--getReqTQueueSize-->
	<getReqTQueueSize> 1000 </getReqTQueueSize>

	<!--getThreadPoolSize-->
	<getThreadPoolSize> 30 </getThreadPoolSize>

	<!--getMaxWaitingRequests-->
	<getMaxWaitingRequests> 1000 </getMaxWaitingRequests>

	<!--getReadyQueueSize-->
	<getReadyQueueSize> 1000 </getReadyQueueSize>

	<!--getMaxReadyJobs-->
	<getMaxReadyJobs> 600 </getMaxReadyJobs>

	<!--getMaxNumOfRetries-->
	<getMaxNumOfRetries> 10 </getMaxNumOfRetries>

	<!--getRetryTimeout-->
	<getRetryTimeout> 60000 </getRetryTimeout>

	<!--getMaxRunningBySameOwner-->
	<getMaxRunningBySameOwner> 10 </getMaxRunningBySameOwner>

	<!--putReqTQueueSize-->
	<putReqTQueueSize> 1000 </putReqTQueueSize>

	<!--putThreadPoolSize-->
	<putThreadPoolSize> 30 </putThreadPoolSize>

	<!--putMaxWaitingRequests-->
	<putMaxWaitingRequests> 1000 </putMaxWaitingRequests>

	<!--putReadyQueueSize-->
	<putReadyQueueSize> 1000 </putReadyQueueSize>

	<!--putMaxReadyJobs-->
	<putMaxReadyJobs> 600 </putMaxReadyJobs>

	<!--putMaxNumOfRetries-->
	<putMaxNumOfRetries> 10 </putMaxNumOfRetries>

	<!--putRetryTimeout-->
	<putRetryTimeout> 60000 </putRetryTimeout>

	<!--putMaxRunningBySameOwner-->
	<putMaxRunningBySameOwner> 10 </putMaxRunningBySameOwner>

	<!--copyReqTQueueSize-->
	<copyReqTQueueSize> 1000 </copyReqTQueueSize>

	<!--copyThreadPoolSize-->
	<copyThreadPoolSize> 30 </copyThreadPoolSize>

	<!--copyMaxWaitingRequests-->
	<copyMaxWaitingRequests> 1000 </copyMaxWaitingRequests>

	<!--copyMaxNumOfRetries-->
	<copyMaxNumOfRetries> 10 </copyMaxNumOfRetries>

	<!--copyRetryTimeout-->
	<copyRetryTimeout> 60000 </copyRetryTimeout>

	<!--copyMaxRunningBySameOwner-->
	<copyMaxRunningBySameOwner> 10 </copyMaxRunningBySameOwner>

	<!--getLifetime-->
	<getLifetime> 21600000 </getLifetime>

	<!--putLifetime-->
	<putLifetime> 21600000 </putLifetime>

	<!--copyLifetime-->
	<copyLifetime> 21600000 </copyLifetime>

	<!--x509ServiceKey-->
	<x509ServiceKey> /etc/grid-security/hostkey.pem </x509ServiceKey>

	<!--x509ServiceCert-->
	<x509ServiceCert> /etc/grid-security/hostcert.pem </x509ServiceCert>

	<!--x509TrastedCACerts-->
	<x509TrastedCACerts> /etc/grid-security/certificates </x509TrastedCACerts>

	<!--useUrlcopyScript-->
	<useUrlcopyScript> false </useUrlcopyScript>

	<!--useDcapForSrmCopy-->
	<useDcapForSrmCopy> false </useDcapForSrmCopy>

	<!--useGsiftpForSrmCopy-->
	<useGsiftpForSrmCopy> true </useGsiftpForSrmCopy>

	<!--useHttpForSrmCopy-->
	<useHttpForSrmCopy> true </useHttpForSrmCopy>

	<!--useFtpForSrmCopy-->
	<useFtpForSrmCopy> true </useFtpForSrmCopy>

	<!--recursiveDirectoryCreation-->
	<recursiveDirectoryCreation> false </recursiveDirectoryCreation>

	<!--advisoryDelete-->
	<advisoryDelete> false </advisoryDelete>

	<!--jdbcUrl-->
	<jdbcUrl> dbc:postgresql://localhost/dcache </jdbcUrl>

	<!--jdbcClass-->
	<jdbcClass> org.postgresql.Driver </jdbcClass>

	<!--jdbcUser-->
	<jdbcUser> enstore </jdbcUser>

	<!--jdbcPass-->
	<jdbcPass> enstore </jdbcPass>

	<!--nextRequestIdStorageTable-->
	<nextRequestIdStorageTable> disksrmnextrequestid </nextRequestIdStorageTable>
</srm-configuration>
