<?xml version="1.0" encoding="UTF-8"?>
<srm-configuration>

	<!-- true or false-->
	<debug> true </debug>

	<!-- path to srmcp home directory -->
	<srmcphome> ${VDT_LOCATION}/srmclient </srmcphome>

	<!-- "globus-url-copy" or "kftp"-->
	<gsiftpclient> globus-url-copy </gsiftpclient>

	<!--true if use http over gsi over ssl for SOAP invocations 
	or false to use plain http (no authentication or encryption)-->
	<gsissl> true </gsissl>

	<!-- path to the "glue" mapfile-->
	<mapfile> ${VDT_LOCATION}/srmclient/conf/SRMServerV1.map </mapfile>

	<!-- path to the  in the srm webservices server,
	srm/managerv1.wsdl" in case of srm in dcache-->
	<webservice_path> srm/managerv1.wsdl </webservice_path>

	<!-- this could be http or https-->
	<webservice_protocol> https </webservice_protocol>

	<!-- if true, use urlcopy script,
	 otherwise use java native copiers-->
	<use_urlcopy_script> false </use_urlcopy_script>

	<!-- path to the urlcopy script -->
	<urlcopy> ${VDT_LOCATION}/srmclient/sbin/url-copy.sh </urlcopy>

	<!--nonnegative integer, 2048 by default-->
	<buffer_size> 131072 </buffer_size>

	<!--integer, 0 by default (which means do not set tcp_buffer_size at all)-->
	<tcp_buffer_size> 0 </tcp_buffer_size>

	<!--integer, 10 by default-->
	<streams_num> 10 </streams_num>

	<!-- comma separated list of protocol names, "http,gridftp" by default-->
	<protocols> http,gsiftp </protocols>

	<!-- true for pushmode and false for pullmode, false by default-->
	<pushmode> false </pushmode>

	<!-- true to use user proxy or false to use
	 certificates directly, true by default-->
	<useproxy> true </useproxy>

	<!--absolute path to the trusted certificates directory-->
	<x509_user_trusted_certificates> ${VDT_LOCATION}/globus/share/certificates </x509_user_trusted_certificates>

	<!--range of ports open for tcp connection-->
	<globus_tcp_port_range> null </globus_tcp_port_range>

	<!--gss expected name in the srm server DN."host" by default-->
	<gss_expected_name> host </gss_expected_name>

	<!--number of miliseconds to pause for before retrying after the failure-->
	<retry_timeout> 10000 </retry_timeout>

	<!--max number of times to retry after failure before giving up-->
	<retry_num> 20 </retry_num>

	<!-- true or false-->
	<connect_to_wsdl> false </connect_to_wsdl>

	<!-- true or false-->
	<delegate> true </delegate>

	<!-- true or false-->
	<full_delegation> true </full_delegation>
</srm-configuration>
