@CHARSET "UTF-8";

span.userLogin {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 8px;
    color: #8ae234;
}

span.userLogin a {
    text-decoration: none;
}

span.userLogin a:hover {
    text-decoration: none;
}

span.stripe  {
    color: #23587a;
}
