<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="common.css" />
        <link rel="stylesheet" type="text/css" href="logIn.css" />
    </head>
    <body>
        <div id="head"></div>
        <div id="main">
            <h1><span wicket:id="dCacheInstanceName"></span></h1>
            <span><wicket:message key="guestuser">missing</wicket:message></span>
            <span wicket:id="feedback"/>
            <form wicket:id="LogInForm">
                <table>
                    <tr>
                        <td align="right"><wicket:message key="table1.row1">missing</wicket:message></td>
                    <td>
                        <input wicket:id="username" type="text" value="" size="30"/>
                    </td>
                    </tr>
                    <tr>
                        <td align="right"><wicket:message key="table1.row2">missing</wicket:message></td>
                    <td>
                        <input wicket:id="password" type="password" value="password" size="30"/>
                    </td>
                    </tr>
                    <tr wicket:id="rememberMeRow">
                        <td></td>
                        <td> <input wicket:id="remembering" type="checkbox" /><wicket:message key="table1.checkbox">missing</wicket:message></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" wicket:id="submit" wicket:message="value:submitButton"/>
                            <input type="reset" wicket:message="value:resetButton"/>
                            <input type="submit" wicket:id="certsignin" wicket:message="value:certSignInButton"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>