<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="ActiveTransfersPage.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <wicket:extend>
        <h1><wicket:message key="title"></wicket:message></h1>

        <span wicket:id="feedback" />

        <form wicket:id="filterForm">
            <wicket:message key="filter"></wicket:message>:
            &nbsp;
            <input wicket:id="filter" type="text"/>
            &nbsp;
            <input wicket:id="clear" type="submit" value="Clear"/>
        </form>

        <div class="clear"></div>
        <br>

        <form wicket:id="transfersForm">
            <table wicket:id="transfers"></table>
            <input wicket:id="submit" type="submit" value="Submit" wicket:message="value:abortButton"/>
        </form>
    </wicket:extend>
</body>
</html>
