@CHARSET "UTF-8";

h2 {
    text-align: center;
    font-weight: bold;
    text-transform: none;
}

p {
    background: #d2dddd;
    padding: 15px;
}

.output {
    font-family: "Lucida Console", Monaco, monospace
}
