toolbar.nav-bar {
/*      background-image: url("chrome://navigator/skin/navbar-bg.gif"); */
        padding: 0px;
        padding-bottom: 2px;
}

box#navbar {
  background-color: lightblue;
}

plot {
  display: block;
  background-color: lightblue;
}

apple {
/*  display: table; */
  display: block;
}

mtr {
/*  display: table-row; */
  display: block;
  background-color: gray;
}

mtd {
  border: 1px solid #222222;
/*  display: table-cell; */
  display: inline;
  background-color: lightgray;
  width: 160px;
}

table {
  display: table; 
  border-collapse: collapse;
}

tr {
  display: table-row; 
  background-color: gray;
}

td {
  border: 1px solid #BBBBDD;
  display: table-cell; 
  background-color: #EEEEEE;
/*  width: 160px; */
  padding-left: 12px;
  padding-right: 12px;
  text-align: right;
  border-collapse: collapse;
}

A:link {
  color: #FA8072;
}
