@CHARSET "UTF-8";

#services {
    float: left;
    width: 100%;
}

img.login, img.logout {
    width: 24px;
    height: 24px;
}

div.link_container {
    background-color: #82b4c8;
    border-width: medium;
    border-color: black;
    border-style: solid;
}

div.link {
    float:left;
    width: 25%;
    text-align: center;
    color: white;
}

p {
    margin-left: 45%;
}