<link rel="import" href="../../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../../../../../bower_components/app-layout/app-header/app-header.html">
<<link rel="import" href="../../../../utils/ajax-ls/view-file.html">
<dom-module id="shared-directory-view">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                display: flex;
                box-sizing: border-box;
            }
            #container, app-header-layout, view-file {
                width: 100%;
                height: 100%;
            }
            .app-header {
                padding: 0 30px;
                background: var(--dv-charcoal-grey);
                height: 45px;
                border-bottom: solid 1px #ccc;
                color: #fafafa;
            }
            #container {
                padding: 0 30px;
                box-sizing: border-box;
            }
            list-row-header {
                margin: 0 !important;
            }
        </style>
        <app-header-layout has-scrolling-region>
            <app-header slot="header" class="app-header" fixed>
                <list-row-header></list-row-header>
            </app-header>
            <div id="container"></div>
        </app-header-layout>
    </template>
    <script src="shared-directory-view.js"></script>
</dom-module>