@CHARSET "UTF-8";
/*
    Document   : poolqueues
    Author     : jans
    Description:
*/

h1{
    text-align: center;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

td, th
{
    padding: 4px;
    border: 1px solid gray;
}

th
{
    text-align: center;
    background: #115259;
    color: white;
}

th > a
{
    color: white;
    text-decoration: none;
}

td
{
    text-align: center;
}

tr
{
    background: #bebebe;
}

tr.odd
{
    background: #efefef;
}