#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<assembly>
    <id>tarball</id>
    <includeBaseDirectory>true</includeBaseDirectory>

    <dependencySets>
        <dependencySet>
            <excludes>
                <exclude>org.dcache:dcache-nearline-spi:*</exclude>
            </excludes>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
        </dependencySet>
    </dependencySets>

    <fileSets>
        <fileSet>
            <includes>
                <include>LICENSE*</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>src/main/docs</directory>
            <outputDirectory></outputDirectory>
            <filtered>true</filtered>
        </fileSet>
        <fileSet>
            <directory>src/main/defaults</directory>
            <outputDirectory></outputDirectory>
            <includes>
                <include>*.properties</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>
