dCache Software License

    Copyright © 2006 Stiftung Deutsches Elektronen-Synchroton,
    Member of the Helmholtz Association, (DESY), HAMBURG, GERMANY.

    All dCache® components provided by DESY are distributed subject to the following license conditions:

Software License Agreement

    Software	dCache
    Versions	1.7.0,1.8.0

Definitions

    The following terms shall be used in the license agreement with the following standard meanings

    Documentation
        Description of composition, architecture and/or structure of the programming process and/or functionalities of the program, irrespective of whether they were done in the Source Code or separately.
    License
        The agreement concluded between the licensor and you
    Licensee
        Every natural or legal entity who has accepted this License.
    Program
        Every computer program which has been distributed or made publicly available by the Licensor in accordance with the terms of this License.
    Object Code
        The machine-readable form of the Program.
    Public/publicly
        Not solely directed towards a certain group of people who have a personal connection to each other or are associated through their affiliation with a legal person or public organisation.
    Making Publicly Available
        The public distribution of the Program in an immaterial form, in particular, by making it available for download in data networks.
    Licensor
        The author(s) or other holders of the exclusive right to use for the Program.
    Source Code
        The form of the Program represented in programming language and readable for humans.
    Modification
        Any extension, shortening and/or alteration of the Program, including, but not limited to further developments.
    Distribution
        The public passing on of material copies to third parties, in particular, onto storage devices or in connection with hardware.
    Complete Source Code
        The Source Code in the form used for preparation and/or modification together with the configuration files and software tools required for compilation and installation, provided that these are not commonly used in the required form (e.g. standard compiler) or can be downloaded by any Internet user without license fee.

Section 1 : License Grants

       1. You may use, reproduce and distribute the Program and make it publicly available in an unmodified form.
       2. You may modify the Program and reproduce modified versions, combine the Program or parts thereof with other programs solely for internal research use.
          Distribution of modified versions and making them publicly available is subject to prior written consent of the licensor.
       3. You obtain the rights free of charge.
       4. Other than the licenses expressly granted in this License, the Licensor retains all rights, title, and interest in the program.

Section 2 : Obligations for Distribution and Making Publicly Available

       1. If you distribute the Program or make it publicly available, be it in unmodified or modified form, be it in combination with other programs or in connection with hardware, you also have to provide or include the following:
             1. all references to this License in the Source Code and/or Object Code;
             2. all references in the Source Code and/or Object Code containing information about the author of the Program;
             3. a conspicuous reference to this License and the Internet address www.dCache.ORG, to be displayed in a form that can easily be read by the recipient;
             4. the complete text of this License in a form easy to perceive.
       2. If license and/or contract terms are displayed when the Program is installed and/or started, the following items must also be displayed:
             1. this License;
             2. a reference to this License; and
             3. a reference to the Licensor to the initial program components used under this License.
       3. You may not make the use of the Program contingent upon the compliance with conditions or obligations that are not set forth in this License.
       4. Provided that you have received Documentation for the Program, you have to deliver this Documentation with the Program, as well, unless free delivery of the Documentation is not permitted by the documentation license.

Section 3 : Further Obligations regarding the Distribution of Modified Versions

       1. You may only distribute modified versions of the Program or make them publicly available in accordance with the terms of this License, especially those in Section 1, par. 2, so that any third party is able to make use of the modified Program as a whole under this License.
       2. If the Program or a part thereof is combined with another program, this also applies to the entire combination as a modified version of the Program, unless the other program is independent in terms of form and content. Another program shall be regarded as independent if it fulfils the following requirements:
             1. The Source Code of the combined programs must be contained in separate files which do not include components of the other part except for parts containing the information customary and required for the Program combination. The Source Code of the other program does not have to be delivered.
             2. The part which is combined with the Program must also be reasonably usable when not combined with the Program, i.e. on a standalone basis or with other programs. The meaning of "reasonably usable" will be based on the opinion of pertinent circles of expert groups in the relevant field. Such circles of experts include everyone who develops, uses, distributes or makes publicly available the Program concerned or programs with similar functionality.
       3. If you distribute the Program or make it publicly available in a modified form, you must include a reference to the modifications and the date of the modification in the Source Code. This reference must reveal which modifications were carried out and include existing references containing information on the author of the Program. This applies to whether or not you add your own copyright notice. Instead of a reference in the Source Code you may also use or carry on a version control system, provided this is also distributed or made publicly available.
       4. You may not charge any third party for the granting of the non-exclusive rights of use for the Program.
       5. If you acquire any other intellectual or industrial property right to this Program apart from a copyright, in particular a patent or utility model, you license this intellectual or industrial property right for modified or unmodified versions of the Program to the extent that is necessary to make due use of the rights arising from this License.

Section 4 : Further Obligations for the Distribution of the Object Code

       1. If you distribute the Program in Object Code form only, apart from the obligations defined in Sections 2 and 3, you have to either:
             1. make the Complete Source Code publicly available in the Internet and - when distributing the Object Code - make a clear reference to the complete Internet address from which the Source Code can be downloaded; or
             2. distribute the Complete Source Code on a customary data carrier, taking into consideration Sections 2 and 3.
       2. If you make the Program publicly available in Object Code form, apart from the obligations defined in Sections 2 and 3 you must also make the Complete Source Code publicly available in the Internet and make a clear reference to the complete Internet address.
       3. Provided that you have received the Documentation for the Program, you have to deliver this Documentation together with the Program in accordance with Subsections 1 and 2, as well, unless free delivery of the Documentation is not permitted by the documentation license.

Section 5 : Conclusion of the Contract

       1. With this License you and any other person are offered the conclusion of a contract for the use of this Program under the conditions of this License.
       2. You may use the Program in accordance with the applicable statutory provisions for the intended purpose without having to accept this License. In the European Union and in most other legal systems, this right in particular includes the following authorizations:
             1. Running of the Program as well as reproducing on hard-drive and RAM required for this;
             2. Making of a back-up copy;
             3. Correcting errors;
             4. Distributing a lawfully acquired physical copy of the Program.
       3. You declare your acceptance of this License by distributing the Program, making it publicly available, modifying or reproducing it in a way that goes beyond the intended use in the sense of Subsection 2. From this time on, this License shall be deemed as a legally binding agreement between the Licensor and you, without the need for the Licensor to obtain a declaration of acceptance.
       4. You and any other licensee acquire the rights arising from this License directly from the Licensor. Any sub-licensing or transfer of rights is not permitted.

Section 6 Termination of Rights in the Event of Violations

   1. Any violation of your obligations under this License automatically leads to the termination of your rights under this License and in addition to the termination of your rights to use the registered trade mark dCache®
   2. Any rights of third parties having obtained the Program or rights to the Program from you shall remain unaffected.

Section 7 : Disclaimer of Warranty and Liability

   1. THE PROGRAM IS PROVIDED UNDER THIS LICENSE ON AN AS IS BASIS. WITHOUT WARRANTY OF ANY KIND, EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OF THE USE OR OTHER DEALINGS IN THE SOFTWARE. SHOULD THE SOFTWARE PROVE DEFECTIVE IN ANY RESPECT, LICENSEE ASSUMES THE COST OF ANY NECESSARY SERVICING, REPAIR OF CORRECTION. THIS DISCLAIMER OF WARRANTY CONSTITUTES AN ESSENTIAL PART OF THIS LICENSE. NO USE OF ANY SOFTWARE IS AUTHORIZED HEREUNDER EXCEPT UNDER THIS DISCLAIMER. THE LICENSOR HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.
   2. TO THE EXTENT NOT PROHIBITED BY LAW, IN NO EVENT WILL LICENSOR OR ITS LICENSORS BE LIABLE FOR ANY LOST REVENUE, PROFIT OR DATA, OR FOR SPECIAL, INDIRECT, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES, HOWEVER CAUSED REGARDLESS OF THE THEORY OF LIABILITY, ARISING OUT OF OR RELATED TO THE USE OF OR INABILITY TO USE THE SOFTWARE, EVEN IF LICENSOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

Section 8 : Agreements with Third Parties

   1. This License only governs the relationship between you and the Licensor. It is not part of agreements between you and third parties.
   2. This License does not limit your freedom to conclude agreements of any content whatsoever with third parties obtaining copies of the Program from you or purchasing services from you in connection with the Program, provided that you fulfil your obligations under this License and third-party rights under this License are not infringed. In particular, you may charge a fee as consideration for the transfer of the Program or other services.
   3. This License does not commit you to forward the Program to a third party. You are free to decide to whom you wish to make the Program available. However, you may not prevent or complicate further use by third parties through the use of technical protective measures, in particular, the use of copy protection of any kind. Password-protected access restriction or use in an Intranet shall not be regarded as technical protective measures.

Section 9 Text of the License

   1. This License is written in German and English. Both versions are equally binding. It is assumed that terminology used in the License has the same meaning in both versions. Should, however, differences arise, such meaning is authoritative which best brings into line both versions, taking into consideration the aim and purpose of the License.
   2. The license board of the German Free Software License may put into force binding new versions of this License inasmuch as this is required and reasonable. New versions of the License will be published on the Internet site with a unique version number. The new version of the License becomes binding for you as soon as you become aware of its publication. Legal remedies against the modification of the License are not restricted by the regulations described above.
   3. You may reproduce and distribute this License and make it publicly available in an unmodified form.

Section 10 Applicable Law

    The License is governed by and construed under German law.
    The License may be obtained under www.dCache.ORG.