@CHARSET "UTF-8";

h5 {
    text-align: center;
}

table {
    margin: auto;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}

td, th {
    background-color: #d2dddd;
}

tbody th {
    border-bottom: none;
    text-align: left;
}

tbody td {
    border-top: none;
    border-bottom: none;
}