@CHARSET "UTF-8";

h5 {
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    text-transform: none;
    font-size: 100%;
    text-align: center;
    margin: 0 0 1.5em;
}

table {
    margin: auto;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}

td, th {
    background-color: #d2dddd;
}

tbody th {
    border-bottom: none;
    text-align: left;
}

tbody td {
    border-top: none;
    border-bottom: none;
}
