@CHARSET "UTF-8";

table {
    width: 100%;
}

td {
    text-align: center;
}

td:nth-child(6n-1) {
    background: #d2dddd;
    opacity: 0.6;
    color: #000;
}

td:nth-child(6n-2) {
    background: #d2dddd;
    opacity: 0.6;
    color: #000;
}

td:nth-child(6n-3) {
    background: #d2dddd;
    opacity: 0.6;
    color: #000;
}