<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %-5p %c - %m%n</pattern>
    </encoder>
  </appender>

  <root level="OFF">
    <appender-ref ref="stdout"/>
  </root>

  <logger name="org.apache.client.Call" level="DEBUG"/>
  <logger name="org.apache.axis.transport.http.HTTPSender" level="DEBUG"/>
  <logger name="org.globus.axis.axis.transport" level="DEBUG"/>
  <logger name="org.apache.client.Call" level="DEBUG"/>
  <logger name="org.apache.axis.transport.http.HTTPSender" level="DEBUG"/>
  <logger name="org.globus.axis.axis.transport" level="DEBUG"/>
  <logger name="org.globus.ftp.app.Transfer" level="DEBUG"/>
  <logger name="org.globus.ftp.app.TransferParams" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.AbstractDataChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.ActiveConnectTask" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.ActiveStartTransferTask" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.AsciiTranslator" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.DataChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.DataChannelFactory" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.DataChannelReader" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.DataChannelWriter" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.EBlockAware" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.EBlockImageDCReader" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.EBlockImageDCWriter" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.EBlockParallelTransferContext" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.GridFTPActiveConnectTask" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.GridFTPPassiveConnectTask" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.LocalReply" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.PassiveConnectTask" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SecureDataChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SecureDataChannelFactory" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SimpleDataChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SimpleDataChannelFactory" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SimpleTransferContext" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.SocketBox" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.StreamAsciiDCReader" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.StreamAsciiDCWriter" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.StreamImageDCReader" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.StreamImageDCWriter" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.StripeContextManager" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.Task" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.TaskThread" level="DEBUG"/>
  <logger name="org.globus.ftp.dc.TransferContext" level="DEBUG"/>
  <logger name="org.globus.ftp.Buffer" level="DEBUG"/>
  <logger name="org.globus.ftp.ByteRange" level="DEBUG"/>
  <logger name="org.globus.ftp.ByteRangeList" level="DEBUG"/>
  <logger name="org.globus.ftp.DataChannelAuthentication" level="DEBUG"/>
  <logger name="org.globus.ftp.DataSink" level="DEBUG"/>
  <logger name="org.globus.ftp.DataSinkStream" level="DEBUG"/>
  <logger name="org.globus.ftp.DataSource" level="DEBUG"/>
  <logger name="org.globus.ftp.DataSourceStream" level="DEBUG"/>
  <logger name="org.globus.ftp.FTPClient" level="DEBUG"/>
  <logger name="org.globus.ftp.FeatureList" level="DEBUG"/>
  <logger name="org.globus.ftp.FileInfo" level="DEBUG"/>
  <logger name="org.globus.ftp.FileRandomIO" level="DEBUG"/>
  <logger name="org.globus.ftp.GridFTPClient" level="DEBUG"/>
  <logger name="org.globus.ftp.GridFTPRestartMarker" level="DEBUG"/>
  <logger name="org.globus.ftp.GridFTPSession" level="DEBUG"/>
  <logger name="org.globus.ftp.HostPort" level="DEBUG"/>
  <logger name="org.globus.ftp.HostPortList" level="DEBUG"/>
  <logger name="org.globus.ftp.InputStreamDataSink" level="DEBUG"/>
  <logger name="org.globus.ftp.Marker" level="DEBUG"/>
  <logger name="org.globus.ftp.MarkerListener" level="DEBUG"/>
  <logger name="org.globus.ftp.Options" level="DEBUG"/>
  <logger name="org.globus.ftp.OutputStreamDataSource" level="DEBUG"/>
  <logger name="org.globus.ftp.PerfMarker" level="DEBUG"/>
  <logger name="org.globus.ftp.RestartData" level="DEBUG"/>
  <logger name="org.globus.ftp.RestartMarker" level="DEBUG"/>
  <logger name="org.globus.ftp.RetrieveOptions" level="DEBUG"/>
  <logger name="org.globus.ftp.Session" level="DEBUG"/>
  <logger name="org.globus.ftp.StreamModeRestartMarker" level="DEBUG"/>
  <logger name="org.globus.ftp.SubjectDataChannelAuthentication" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.ClientException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.DataChannelException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.FTPException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.FTPReplyParseException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.NotImplementedException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.PerfMarkerException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.ServerException" level="DEBUG"/>
  <logger name="org.globus.ftp.exception.UnexpectedReplyCodeException" level="DEBUG"/>
  <logger name="org.globus.ftp.extended.GridFTPControlChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.extended.GridFTPInputStream" level="DEBUG"/>
  <logger name="org.globus.ftp.extended.GridFTPOutputStream" level="DEBUG"/>
  <logger name="org.globus.ftp.extended.GridFTPServerFacade" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.BasicClientControlChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.BasicServerControlChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.Command" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.FTPControlChannel" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.FTPServerFacade" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.Flag" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.Reply" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.TransferMonitor" level="DEBUG"/>
  <logger name="org.globus.ftp.vanilla.TransferState" level="DEBUG"/>
</configuration>