h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: left;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    table-layout: auto;
    word-wrap: break-word;
}

td, th
{
    padding: 4px;
    border: 1px solid gray;
}

th
{
    text-align: center;
    background: #aad000;
    color: white;
    border: none;
}

th > a
{
    color: white;
    text-decoration: none;
}

td
{
    text-align: center;
}
