<html>
<wicket:head>
</wicket:head>
<body>
    <wicket:panel id="selectAllPanel">
            <input
                type="submit"
                id="selectAll"
                wicket:id="selectAllButton"
                wicket:message="value:selectAllButton" />
            <input
                type="submit"
                id="deselectAll"
                wicket:id="deselectAllButton"
                wicket:message="value:deselectAllButton" />
            <div>&nbsp;</div>
            <div>
                <input
                    type="submit"
                    wicket:message="value:submitButton"
                    wicket:id="submit" />
            </div>
            <div>&nbsp;</div>
    </wicket:panel>
</body>
</html>