@CHARSET "UTF-8";

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

.control td {
    text-align: center;
}

.control tr:nth-child(odd) {
    background: #d2dddd;
}

.control tr:nth-child(even) {
    background: #eef3f3;
}

.display table {
    margin-left: auto;
    margin-right: auto;
}

.display td {
    text-align: center;
}

.display tr:nth-child(even) {
    background: #ffffff;
}

.display tr:nth-child(odd) {
    background: #ffffff;
}

.thumbnail table {
    width: 100%
}

.thumbnail td {
    text-align: center;
    width: 100%
}

.thumbnail tr:nth-child(even) {
    background: #789498;
}

.thumbnail tr:nth-child(odd) {
    background: #d2dddd;
}

.thumbnail img {
    width: 80%
}