@CHARSET "UTF-8";

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	color: #aad000;
}

h3 {
	text-align: left;
	color: #aad000;
}

p {
	text-align: left;
}

.control table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 10px;
	table-layout: auto;
	word-wrap: break-word;
}

.control td,th {
	padding: 4px;
	border: 1px solid gray;
}

.control th {
	text-align: center;
	background: #aad000;
	color: white;
	border: none;
}

.control th>a {
	color: white;
	text-decoration: none;
}

.control td {
	text-align: center;
}

.control tr:nth-child(odd) {
	background: #cbcbcb;
}

.control tr:nth-child(even) {
	background: #dcdcdc;
}

.display table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 10px;
	table-layout: auto;
	word-wrap: break-word;
	width: 100%
}

.display td,th {
	padding: 4px;
	border: 1px solid gray;
}

.display th {
	text-align: center;
	background: #aad000;
	color: white;
	border: none;
}

.display th>a {
	color: white;
	text-decoration: none;
}

.display td {
	text-align: center;
}

.display tr:nth-child(even) {
    background: #eeeeee;
}

.display tr:nth-child(odd) {
    background: #eeeeee;
}

.thumbnail table {
	border-spacing: 0;
    border-collapse: collapse;
    margin-top: 10px;
	table-layout: auto;
	width: 100%
}

.thumbnail td,th {
	padding: 4px;
	border: 1px solid gray;
}

.thumbnail  th {
	text-align: center;
	background: #aad000;
	color: white;
	border: none;
}

.thumbnail th>a {
	color: white;
	text-decoration: none;
}

.thumbnail td {
	text-align: center;
	align: center;
	width: 100%
}

.thumbnail tr:nth-child(even) {
	background: #d9d9d9;
}

.thumbnail tr:nth-child(odd) {
	background: #cfcfcf;
}

.thumbnail img {
	width: 60%
}