@CHARSET "UTF-8";

div.layout_precious {
    float: left;
    background: #e9463a;
    height: 10px;
}

div.layout_pinned {
    float: left;
    background: #a646a7;
    height: 10px;
}

div.layout_removable {
    float: left;
    background:  #1cae96;
    height: 10px;
}

div.layout_free {
    float: left;
    background: #f4f48d;
    height: 10px;
}
