<html>
<head>
<title><wicket:message key="title"></wicket:message></title>
<wicket:head>
    <wicket:link>
        <link
            href="Alarms.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <h1>
        <wicket:message key="title"></wicket:message>
    </h1>
    <p />
    <wicket:extend>
        <form wicket:id="form">
            <span wicket:id="filterPanel"></span>
            <br>
            <hr color="red">
            <br>
            <span wicket:id="displayPanel"></span>
        </form>
    </wicket:extend>
</body>
</html>