<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="BillingPlots.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body id="billingBody">
    <h1>
        <wicket:message key="header1"></wicket:message>
    </h1>
    <br>
    <wicket:extend>
        <form wicket:id="billingForm">
            <span wicket:id="optionPanel"></span>
            <br>
            <hr style="color: #880000">
            <br>
            <span wicket:id="plotsPanel"></span>
        </form>
    </wicket:extend>
</body>
</html>
