body 
{ 
  background: url("/images/bg.jpg");
}

img 
{ 
  border: 0;
}

#bird_small
{ 
  color: red;
}

#bird_large
{ 
  text-align: center;
}

#main 
{
  margin-left: auto; 
  margin-right: auto;
  width: 95%;
}

#footer
{ 
  margin-top: 200px;
}

table
{ 
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td, th
{ 
  padding: 4px;
  border: 1px solid gray;
}

th
{ 
  text-align: center;
  background: #115259;
  color: white;
}

th > a
{ 
  color: white;
  text-decoration: none;
}

td
{ 
  text-align: center;
}

tr
{ 
  background: #bebebe;
}

tr.odd
{
  background: #efefef;
}


