<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="alarmsout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

<!--     <appender name="remote" class="ch.qos.logback.classic.net.SocketAppender"> -->
<!--         <remoteHost>localhost</remoteHost> -->
<!--         <port>60001</port> -->
<!--         <reconnectionDelay>10000</reconnectionDelay> -->
<!--     </appender> -->

    <appender name="alarms" class="org.dcache.alarms.logback.AlarmDefinitionAppender">
        <filter class="org.dcache.alarms.logback.AlarmDefinitionFilter">
            <alarmType>
                logger:org.dcache.alarms.ChecksumAlarmSimulator,
                type:CHECKSUM,
                regex:"Checksum mismatch",
                level:ERROR,
                severity:MODERATE,
                include-in-key:message type host service domain
            </alarmType>
        </filter>
        <appender-ref ref="alarmsout"/>
<!--         <appender-ref ref="remote"/> -->
    </appender>

    <root>
        <appender-ref ref="stdout"/>
        <appender-ref ref="alarms"/>
    </root>
</configuration>
