<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="alarmsout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <appender name="remote" class="ch.qos.logback.classic.net.SocketAppender">
        <!-- adds a few properties to MDC -->
        <filter class="org.dcache.alarms.logback.RemoteMDCFilter"/>
        <remoteHost>localhost</remoteHost>
        <port>60001</port>
        <reconnectionDelay>10000</reconnectionDelay>
    </appender>

    <root>
        <appender-ref ref="stdout"/>
        <appender-ref ref="remote"/>
    </root>
</configuration>
