@CHARSET "UTF-8";

h2 {
    text-align: left;
}

h3 {
    text-align: left;
}

h4 {
    text-align: center;
    font-style: normal;
}

tr td {
    text-align: center;
}

.control tr:nth-child(odd) {
    background: #d2dddd;
}

.control tr:nth-child(even) {
    background: #eef3f3;
}

.display table {
    margin-left: auto;
    margin-right: auto;
}

.display tr:nth-child(even) {
    background: #ffffff;
}

.display tr:nth-child(odd) {
    background: #ffffff;
}

.thumbnail tr:nth-child(even) {
    background: #d2dddd;
    color: #789498;
    font-style: italic;
}

.thumbnail tr:nth-child(odd) {
    background: #789498;
    color: #d2dddd;
    font-style: italic;
}

img.plot {
    width: 85%;
}

img.arrow {
    border: 0px;
    margin: 0px;
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}

