<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="PoolQueuePlots.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <wicket:extend>
        <form wicket:id="form">
            <span wicket:id="controlPanel"></span>
            <br> <br>
            <span wicket:id="displayPanel"></span>
        </form>
    </wicket:extend>
</body>
</html>