<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="PoolQueuePlots.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <wicket:extend>
        <form wicket:id="poolQueuePlotsForm">
            <h1>
                <wicket:message key="title"></wicket:message>
            </h1>
            <p/>
            <span wicket:id="controlPanel"></span>
            <br> <br>
            <span wicket:id="displayPanel"></span>
        </form>
    </wicket:extend>
</body>
</html>