<html>
    <head>
        <title></title>
    <wicket:head>
        <wicket:link>
            <link href="LayoutItemPanel.css" rel="stylesheet" type="text/css" />
        </wicket:link>
    </wicket:head>
</head>
<body>
<wicket:panel>
    <div>
        <div class="layout_precious" wicket:id="percentagePrecious" style="width: 10.0%"></div>
        <div class="layout_used" wicket:id="percentageUsed" style="width: 10.0%"></div>
        <div class="layout_free" wicket:id="percentageFree"style="width: 70.0%"></div>
    </div>
</wicket:panel>
</body>
</html>