<html>
    <head>
        <title></title>
    <wicket:head>
        <wicket:link>
            <link href="LayoutHeaderPanel.css" rel="stylesheet" type="text/css" />
        </wicket:link>
    </wicket:head>
</head>
<body>
<wicket:panel>
    <span><wicket:message key="LayoutHeaderPanel.layout.header1"></wicket:message>
        <span class="layout_precious"><wicket:message key="LayoutHeaderPanel.layout.header2"></wicket:message></span>
        <span class="layout_pinned"><wicket:message key="LayoutHeaderPanel.layout.header3"></wicket:message></span>
        <span class="layout_removable"><wicket:message key="LayoutHeaderPanel.layout.header4"></wicket:message></span>
        <span class="layout_free"><wicket:message key="LayoutHeaderPanel.layout.header5"></wicket:message></span>
        <wicket:message key="LayoutHeaderPanel.layout.header6"></wicket:message>
    </span>
</wicket:panel>
</body>
</html>