* {

    padding:0;
    margin:0;

}


body {

    font:11px/16px "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
    color:#000;
    background-color:#fff;
    margin:1px 0 0 0;
    z-index:0;

}


img {

    border:none;

}

p{

    padding-top: 15px;

}

a{

    color:#000;
    text-decoration:underline;

}

a:hover{

    color:#00a2ff;

}

p{
    line-height:20px;

}


#navi, .content {

    margin:0 auto;
    width:740px;

}

div.figure {

    float: right;
    position:relative;
    width: 10%;
    padding:3px;

}

img.scaled {

    position:relative;
    width: 100%;

}


/**********************************  NAVI */

#navi{

    color:#000;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:18px;
    margin-top:20px;
    text-decoration:none;
    display: table;
    vertical-align: middle;
    position:relative;
    overflow: hidden;

}

/**********************************  Content */


#wrap {

    width:742px;
    margin:20px auto;
    margin-top:15px;

}


.content{

    border-top:1px solid #888;
    border-left:1px solid #888;
    border-right:1px solid #888;
    padding-bottom:50px;
    background-color:#fff;
    padding-top:50px;

}


h1 {

    margin-bottom:30px;
    text-align:center;
    font-size:18px;
    line-height:22px;

}

table{

    margin-bottom:auto;
    margin-top:auto;
    margin-left:auto;
    margin-right: auto;
    max-width:700;
    border-spacing:15px;
    text-align:left;
    font:12px/16px "Lucida Grande","Lucida Sans Unicode","Lucida Sans","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;

}

div.fileicon, div.directoryicon {
    float: right;
    width: 25px;
}

/**********************************  FOOTER */

#footer {

    border-top:1px solid #888;
    padding:10px 0 50px 3px;
    font-size:9px;
    background-color:transparent;
    clear:both;

}

#footer a{

    color:#000;
    text-decoration:underline;

}

#footer a:hover{

    color:#00a2ff;

}


