<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} [%X] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="remote" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>${remote.server.host}</remoteHost>
        <port>${remote.server.port}</port>
        <reconnectionDelay>10000</reconnectionDelay>
    </appender>

    <root level="off">
    </root>

    <logger name="Commandline" level="${remote.log.level}" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="remote"/>
    </logger>
</configuration>