<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd" version="1.0">

    <!-- Tutorial "unit" -->
    <persistence-unit name="AuthRecordPersistenceUnit">
       <provider>oracle.toplink.essentials.ejb.cmp3.EntityManagerFactoryProvider</provider>
		<mapping-file>org/dcache/auth/AuthRecordORM.xml</mapping-file>
        <class>org.dcache.auth.AuthorizationRecord</class>
        <class>org.dcache.auth.GroupList</class>
        <class>org.dcache.auth.Group</class>
        <properties>
            <property name="toplink.jdbc.user" value="srmdcache"/>
            <property name="toplink.jdbc.password" value=""/>
            <property name="toplink.jdbc.url" value="jdbc:postgresql://localhost/dcache"/>
            <property name="toplink.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="toplink.ddl-generation" value="create-tables"/>
            <property name="toplink.ddl-generation.output-mode" value="database"/>
            <property name="toplink.create-ddl-jdbc-file-name" value="createDDL.jdbc"/>
            <property name="toplink.drop-ddl-jdbc-file-name" value="dropDDL.jdbc" />
            <property name="toplink.application-location" value="/tmp" />
        </properties>
    </persistence-unit>

</persistence>
