<html>
    <head>
        <title></title>
    <wicket:head>
        <wicket:link>
            <link href="CellAdmin.css" rel="stylesheet" type="text/css" />
        </wicket:link>
    </wicket:head>
</head>
<body>
<wicket:extend>
    <form wicket:id="cellAdminForm">
        <h1><wicket:message key="header1"></wicket:message></h1>
        <select wicket:id="cellAdminDomain"/><select wicket:id="cellAdminCell"/>
        <div>
            <span wicket:id="feedback"></span>
            <input wicket:id="commandText" type="text"/>
            <input type="submit" wicket:message="value:submitButton" wicket:id="submit" />
            <wicket:message key="cellAdmin.lastCommand"></wicket:message><span wicket:id="lastCommand"></span>
        </div>
        <h2><wicket:message key="header2"></wicket:message>
            <span wicket:id="cellAdmin.receiver"></span></h2>
        <br/><span wicket:id="cellAdmin.cellresponsevalue"></span>
    </form>
</wicket:extend>
</body>
</html>

