@CHARSET "UTF-8";

/*the adjustment to let the not clickable "adminlinks" look like the clickable*/
  
div#nav .hlist ul li span {
    background: transparent;
    color: #23587a;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 1em 1.6em;
    text-decoration: none;
    width: auto;
    text-transform: uppercase;
}

div#nav .hlist ul li a {
    padding: 0em;
}

div#nav .hlist ul li.disabled span {
    color: #ccc;
}

div#nav .hlist ul li.unauthorized span  {
    color: #900;
}

div#nav .hlist ul li span:focus,
div#nav .hlist ul li span:hover,
div#nav .hlist ul li span:active  {
    background: #eee; 
    color: #333; 
    text-decoration: none; 
    outline: 0 none; 
}

div#nav .hlist ul li.active {
    background: #272727;
    border-left: 1px #444 solid;
    border-right: 1px #888 solid;
}

div#nav .hlist ul li.active span,
div#nav .hlist ul li.active span:focus,
div#nav .hlist ul li.active span:hover,
div#nav .hlist ul li.active span:active {
    background: transparent; 
    color: #fff; 
    text-decoration:none; 
}
