<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="BasicNavigationPanel.css"
            rel="stylesheet"
            type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <wicket:panel>
        <!-- main navigation: horizontal list -->
        <ul>
            <li wicket:id="linkList"><a
                href="#"
                wicket:id="link"> <span wicket:id="linkMessage"></span>
            </a></li>
        </ul>
    </wicket:panel>
</body>
</html>