@CHARSET "UTF-8";

h1, h2, h3, h4, h5 {
    text-align: center;
}

h2 {
    font-weight: bold;
    text-transform: none;
}

table.selection {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px #880000 solid;
}

table.selection td {
    background: #8ae234;
}

table.selection tbody td {
    border-bottom:0px;
}

table.selection  a {
    color: #003172;
}

table.selection  a:hover {
    color: #880000;
}

table.selection td {
    border: none;
}

table.content, table.content_1 {
    width: 100%;
    overflow-x: scroll;
}

table.content td {
    background: #f4f4f4;
}

table.content th {
    background:  #8ae234;
    border-bottom: 2px #880000 solid;
    border-right: 0px;
    border-left: 0px;
}

table.content_1 th {
    background: #ced5dc;
    border-right: 0px;
    border-left: 0px;
}

table.content_1 td {
    background: #f4f4f4;
}

td {
    text-align: center;
}