@CHARSET "UTF-8";

h1{
    text-align: center;
}

h2{
    text-align: center;
    color: #aad000;
    font-weight: bold;
    text-transform:none;
}

p{
    text-align: left;
    background: #dce3ba;
    padding: 15px;
}
