<html>
<head>
<title></title>
<wicket:head>
    <wicket:link>
        <link
            href="HeaderPanel.css"
            rel="stylesheet"
            type="text/css" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="dCache.png" />
    </wicket:link>
</wicket:head>
</head>
<body>
    <wicket:panel>
        <div id="bird_large">
            <wicket:link>
                <img
                    src="dCache.png"
                    class="bird"></img>
            </wicket:link>
        </div>
    </wicket:panel>
</body>
</html>
