name: Mirror and run GitLab CI

on: [push]

jobs:
  to_gitlab:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Mirror + trigger CI
      uses: SvanBoxel/gitlab-mirror-and-ci-action@0.6
      with:
        args: "https://gitlab.desy.de/dcache/dcache"
      env:
        FOLLOW_TAGS: "true"
        FORCE_PUSH: "false"
        GITLAB_HOSTNAME: "gitlab.desy.de"
        GITLAB_USERNAME: "dcache"
        GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
        GITLAB_PROJECT_ID: "21"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
